/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}


body {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

button:hover {
  background-color: gray;
}

#game-container {
  width: 800px;
  height: 600px;
  padding: 2rem;
  background-color: lightgray;
}

header {
  margin-bottom: 2rem;

  & h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
  }

  & p {
    font-size: 1.5rem;
    text-align: center;
  }
}


/* Start screen */
#start-screen {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;

  & #start-button {
    font-size: 3rem;
    font-weight: bold;
    padding: 2rem;
    border-radius: 1rem;
  }
}


/* Score display */
#display-score-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  margin: 0 2rem 2rem 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: darkgray;
  border-radius: 1rem;

  & h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  & h3 {
    font-size: 1.5rem;
  }

  & span {
    font-weight: bold;
  }
}

/* Choice screen */
#user-choice-container {
  display: block;
  margin: 2rem 0;

  & h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
  }

  & #choice-buttons-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  & button {
    width: 150px;
    height: 150px;
    font-size: 5rem;
    border-radius: 1rem;
  }
}

/* Result screen */
#display-result-container {
  display: block;

  & #display-choices-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 2rem;

    & #display-user-choice-container,
    #display-computer-choice-container {
      width: 150px;
    }
    
    & h3 {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 1rem;
    }
    
    & #display-user-choice, 
    #display-computer-choice {
      font-size: 5rem;
      border-radius: 1rem;
      text-align: center;
    }
  }

  & #display-result-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    & #display-result {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }

    & #continue-button {
      font-size: 2rem;
      padding: 1rem;
      border-radius: 1rem;
    }
  }
}